@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#custom-switch {
  width: 4rem;
  height: 2rem;
}

.form-switch .form-check-imput {
  background-color: blue !important;
}

#root > div > footer > div > div > div.col-md-7 > div > div > ul {
  padding-left: 0;
}

#root > div > footer > div > div > div.col-md-7 > div > div > ul > li {
  margin: 10px auto;
}
